.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  min-width: 320px;
  min-height: 100%;
}

.main {
  flex-grow: 1;
  display: flex;
  position: relative;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cards-wrapper {
  display: flex;
  gap: 300px;
  justify-content: center;
}

.footer {
  padding-block: 16px;
}

.opened-cards-modal {
  display: grid;
  grid-template-columns: repeat(var(--cards-count, 1), 1fr);
  gap: 2rem;

  &__card {
    position: relative;
    aspect-ratio: 2 / 3;

    .card-back {
      transform: none;
      width: 100%;
      height: 100%;
    }
  }
}
