.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  min-width: 320px;
  min-height: 100%;
}

.main {
  flex-grow: 1;
  display: flex;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.cards-wrapper {
  display: flex;
  gap: 300px;
  justify-content: center;
}

.footer {
  padding-block: 16px;
}

