.card {
  position: absolute;
  width: var(--card-width);
  height: var(--card-height);
  transform-origin: center center;
}

.card-inner {
  position: relative;
  width: var(--card-width);
  height: var(--card-height);
  transform-style: preserve-3d;
}
