@import "../card/Card.css";

.flipped-card-container {
  position: relative;
  width: var(--card-width);
  height: var(--card-height);
  perspective: 1500px;
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--border-radius-card);
}
