.close-button {
  @include box(4rem);
  position: relative;

  &::after,
  &::before {
    @include pseudo($width: 2rem, $height: 0.2rem);

    top: 50%;
    left: 50%;
    background-color: var(--color-accent);
  }

  &::before {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}
